* { margin: 0; padding: 0; box-sizing: border-box; }

/* modelo https://dribbble.com/shots/6542434-Event-application-concept */

$light-pink: #FAEDFA;
$pink: #D2B6CE;
$heavy-pink: #C729D9;
$purple: #522E5C;
$gray: #AAA0AC;
$brown: #936A65;
$blue: #5C38C6;
$black: #08040A;
$white: #fff;

.main-container {
  background-color: $white;
}